.dayview{
    h1{
        .bcprogress{
            position: relative;
            top: 10px;
        }
    }
    .description{
        margin: 30px 10vw;
        text-align: center;
    }
    .actionable-item{
        .dropdown{
            display: inline;
            .btn{
                padding: 0;
                font-size: inherit;
                color: $darkBlue;
                text-decoration: underline;
                &:after{display: none;}
            }
        }
    }
}