.searchview{
    .input-group svg{
        color: $light-grey;
        padding: 10px;
        font-size: 50px;
        font-weight: 100;
    }
    input{
        border: none;
        &:hover, &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    .bclist > li{
        padding: 0 10px;
        position: relative;
        &:hover{
            background: white;
            @include deph1;
            .toolbar{
                li{list-style: none; padding: 5px; display: inline-block; }
                display: inline-block;
                position: absolute;
                color:$dark-grey;
                &.up{  top: 5px; right: 7px; font-size: 17px; }
                &.down{ bottom: 0; right: 7px; font-size: 20px; }
            }
        }
        h4{
            margin-bottom: 16px;
            svg{ padding: 3px; color: $orange; 
                &:before{
                    content: attr(legend);
                    display: inline-block;
                }
            }
        }
        p.technolgies{
            font-size: 14px;
            margin: -25px 0;
            color: black;
            padding: 2px 5px 0 5px;
            display: inline-block;
            position: absolute;
            background: $light-grey;
        }
        .result-description{
            font-size: 70%;
            margin-bottom: 5px;
        }
        .toolbar{ display: none; }
    }
}