ul.breadcrumb{
    padding: 0;
    background: inherit;
    li{
        list-style: none;
        width: inherit;
        cursor: pointer;
        display: inline;
        padding:0;
        &:hover{
            color: $orange;
        }
        &:not(:first-child){
            &:before{
                content: ":";
                color: $orange;
            }
        }
    }
}