.settings-item{
    position: absolute;
    padding-left: 10px;
    bottom: 10px;
    right: 0;
    z-index: 10;
    width: 100%;
    .dropdown{
        float: right;
        margin-top: -3px;
        .up{
            transform: translateY(calc(-100% - 40px));
        }
    }
}
.main-menu{
    width: 100%;
}