.timeline{
  overflow: hidden;
  padding: 0;
  position: relative;
  padding-right: 10px;
  .line {
      &.left{
        left: 14px;
      }
      &.right{
        right: 5px;
      }
      position: absolute;
      top: 0;
      content: ' ';
      display: block;
      width: 1px;
      height: 100%;
      background: $dark-grey;
      background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, $dark-grey 8%, $dark-grey 92%, rgba(80, 80, 80, 0) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
      background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, $dark-grey 8%, $dark-grey 92%, rgba(80, 80, 80, 0) 100%);
      background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, $dark-grey 8%, $dark-grey 92%, rgba(80, 80, 80, 0) 100%);
      background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, $dark-grey 8%, $dark-grey 92%, rgba(80, 80, 80, 0) 100%);
      background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, $dark-grey 8%, $dark-grey 92%, rgba(80, 80, 80, 0) 100%);
      z-index: 5;
    }
  ul {
    &:-webkit-scrollbar {display:none;}
    position: relative;
    width: calc(100% + 10px);
    height: calc(100vh - 70px);
    margin-left: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style-type: none;
    li {
      padding: 1em 0;
      padding-right: 20px;
      background: white;
      &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
      &:active {
        background: $orange;
      }
      &.selected{
        position: relative; 
        &:before, &:after { content: ""; position: absolute; }
        &:before {
          top: -2px;
          left: -2px;
          right: -2px;
          bottom: -2px;
          background-image: linear-gradient(to right,$light-grey, transparent);
          background-image: -webkit-linear-gradient(right,$light-grey, transparent);
          background-image: -moz-linear-gradient($light-grey, transparent);
          background-image: -o-linear-gradient($light-grey, transparent);
          z-index: -2;
        }
        &:after {
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: $dark-grey;
          z-index: -1;
        }
      }
    }
  }
  .direction-l {
    position: relative;
    width: 100%;
    float: left;
    text-align: right;
  }
  
  .direction-r {
    position: relative;
    width: 100%;
    float: right;
  }
  
  .flag-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .flag {
    position: relative;
    display: inline;
    background: rgb(248, 248, 248);
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 600;
    text-align: left;
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  }
  
  .direction-l .flag {
    margin-right: 20px;
  }
  .direction-r .flag {
    margin-left: 20px;
  }
  
  .direction-l .flag-point,.direction-r .flag-point {
    position: absolute;
    top: 20px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255, 80, 80);
    z-index: 10;
  }
  .direction-l .flag-point {
    right: -3px;
  }
  
  .direction-r .flag-point {
    left: -3px;
  }
  
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: $dark-grey;
    border-width: 8px;
    pointer-events: none;
  }
  
  .direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: $dark-grey;
    border-width: 8px;
    pointer-events: none;
  }
  
  .time-wrapper {
    display: inline;
    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(250, 80, 80);
    vertical-align: middle;
  }
  
  .direction-l .time-wrapper {
    float: left;
  }
  
  .direction-r .time-wrapper {
    float: right;
  }
  
  .time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248, 248, 248);
  }
  
  .desc {
    margin: 1em 0.75em 0 0;
    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
  }
  
  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
  
  /* ================ Timeline Media Queries ================ */
  
  @media screen and (max-width: 660px) {
    .timeline ul {
      width: 100%;
      padding: 4em 0 1em 0;
      li {
        padding: 2em 0;
      }
    }
    .direction-l, .direction-r {
      float: none;
      width: 100%;
      text-align: center;
    }
    .flag-wrapper {
      text-align: center;
    }
    .flag {
      background: rgb(255, 255, 255);
      z-index: 15;
    }
    .direction-l .flag-point, .direction-r .flag-point {
      position: absolute;
      top: -30px;
      left: 50%;
      content: ' ';
      display: block;
      width: 12px;
      height: 12px;
      margin-left: -9px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid rgb(255, 80, 80);
      z-index: 10;
    }
    .direction-l .flag:after, .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: rgb(255, 255, 255);
      border-width: 8px;
      pointer-events: none;
    }
    .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
    }
    .direction-l .time-wrapper, .direction-r .time-wrapper {
      float: none;
    }
    .desc {
      position: relative;
      margin: 1em 0 0 0;
      padding: 1em;
      background: rgb(245, 245, 245);
      -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      z-index: 15;
    }
    .direction-l .desc, .direction-r .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;
      z-index: 15;
    }
  }
  
  @media screen and (min-width: 400px) and (max-width: 660px) {
    .direction-l .desc, .direction-r .desc {
      margin: 1em 4em 0 4em;
    }
  }
}
