.todo-menu{
    position: relative;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    .show-done{ color: $dark-grey; font-size: 14px;
        &:hover{ color: $darkBlue; }
    }
    .task-filters{

        font-size: 14px;
        .bcdroplink.dropdown .btn.dropdown-toggle{ padding-left: 0; padding-right: 0; font-size: 14px; }
        .bcdroplink a.last-filter{ color: $dark-grey; font-size: 14px; }
    }
    .show-status{ color: $dark-grey; font-size: 14px; }
    ul.todolist{
        padding: 0;
        li{
            list-style: none;
            .task{
                .task-title{ margin: 0; }
                .task-description{ margin: -5px 0 0 30px; font-size: 14px; color:$dark-grey; }
                &.task-lesson .task-description{ color: $darkBlue; }
                &.task-replit .task-description{ color: $darkYellow; }
                &.task-quiz .task-description{ color: $darkGreen; }
                .task-menu{
                    position: absolute;
                    right: 0;
                    background: inherit;
                    border: indianred;
                    color: #BDBDBD;
                    font-size: 14px;
                    padding: 5px;
                    .dropdown-toggle{
                        font-size: 13px;
                    }
                    .dropdown-menu{
                        top: 35px;
                        left: -120px;
                    }
                }
            }
            &.send-assignment{
                padding: 20px;
                font-size: 16px;
                input[type=text]{ font-size: 16px;}
                .btn-bar{margin-top: 10px;}
            }
        }
    }
}