@import '../theme/colors';
.bc-sidebar.collapsed{
    h2{
        width: 100%;
    }
    .breadcrumb li{
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-right: 5px;
    }
}
.breadcrumb{
    padding: 0;
    background: inherit;
    li{
        list-style: none;
        width: inherit;
        cursor: pointer;
        display: inline;
        padding:0;
        .logo{
            max-width: 32px;
        }
        &:hover{
            color: $orange;
        }
        &:not(:first-child){
            &:before{
                content: ":";
                color: $orange;
            }
        }
    }
}