@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Khand');

body{
    font-family: 'Khand', sans-serif;
    font-size: 21px;
}

h1,h2,h3,h4{
    font-family: 'Abril Fatface', cursive;
}